﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><About></title>
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container" style="padding-top:5%">
        <div class="row">
            <div class="col s10 m5">
                <div class="card">
                    <div class="card-image">
                        <img src="\images\basketball.jpg">
                    </div>
                    <div class="card-content">
                        <p>
                            My blog site
                            <br />
                            (c)2020 Sachuk Valetyne
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/">Back to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
</body>
</html>