﻿<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>New user</title>
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<html>
<body>
    <container>
        <div class="container" style="padding-top:5%">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card cyan darken-4 z-depth-3">
                        <div class="card-content white-text">
                            <span class="card-title">Add new user</span>
                            <span class="card-title red-text"><%=NUText%></span>
                            <hr>
                            <form method="post" action="/addnewuser">
                                <div class="input-field col s12">
                                    <label for="user">Enter nickname</label><br>
                                    <input required class="validate white-text" type="text" name="name" id="user"><br>
                                </div>
                                <br />
                                <div class="input-field col s12">
                                    <label for="email">Enter email</label><br>
                                    <input required class="validate white-text" type="email" name="email" id="email"><br>
                                </div>
                                <br />
                                <div class="input-field col s12">
                                    <label for="password1">Enter password</label><br>
                                    <input required class="validate white-text" name="password" id="password1" type="password"><br>
                                </div>
                                <br />
                                <div class="input-field col s12">
                                    <label for="password2">Confirm password</label><br>
                                    <input required class="validate white-text" name="password2" id="password2" type="password"><br>
                                </div>
                                <br />
                                <button class="waves-effect waves-light btn-small z-depth-3" type="submit">Register</button>
                            </form>
                        </div>
                        <div class="card-action">
                            <a href="/">Back to Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </container>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
</body>
</html>