﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My blog</title>
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container" style="padding-top: 30px;">
        <nav>
            <div class="nav-wrapper z-depth-3 padding-top: 50px;">
                <a style="padding-left: 15px;" href="#" class="brand-logo"> My BLOG </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/about">About</a></li>
                    <% if(activeGuest.ownerID != "0"){temptext=activeGuest.name}%>
                    <li><a href="/regist"><%=temptext%></a></li>
                </ul>
            </div>
        </nav>
        <div class="container" style="padding-top: 50px; width: 100%;">
            <table class="highlight">
                <tbody>
                    <tr>
                        <th style="width: 10%;"> <span class="teal accent-1"> Posts </span></thstyle="width:>
                        <th style="width: 68%; text-align: left;margin-left:10px"><span class="teal accent-1"> POST's text </span></th>
                        <th style="width: 10%; text-align: left;margin-left:10px"><span class="teal accent-1"> Author </span></th>
                        <th style="width: 2%; text-align: left;margin-left:10px"><span class="teal accent-1"></span></th>
                    </tr>
                    <% for (var i=0; i< posts.length; i++) {%>
                    <tr>
                        <td style="width: 10%;"><a title=<%=posts[i].title%> href="/post/<%= ( i + 1 )%>"><%=posts[i].title%></a></td>
                        <td style="width: 68%;"><a title=<%=posts[i].content%> href="/post/<%= ( i + 1 )%>"><%=posts[i].content%></a></td>
                        <td style="width: 10%; margin-left:10px">
                            <%=findGuestInTable(guests,posts[i].ownerID).name%>
                        </td>
                        <td style="width: 2%; text-align: left;margin-left:10px">
                            <% if (activeGuest.ownerID == posts[i].ownerID) { temptext = "" } else {temptext="disabled"} %>
                            <form method="post" action="/">
                                <button class="btn-floating btn-small waves-effect waves-light red z-depth-3 <%=temptext%>" type="submit" formaction="/" name="deletePost" value=<%=i%>><i class=" material-icons center">delete</i>del</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <br />
        <form>
            <button class="float waves-effect waves-light btn-small z-depth-3" formaction="\write" name="New message "> New message </button>
        </form>
        <br />
    </div>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">My blog</h5>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Sachuk Valentine
                <a class="grey-text text-lighten-4 right" href="/about">About</a>
            </div>
        </div>
    </footer>
</body>
</html>

