<!DOCTYPE html>
<html lang="en">
<h3 style="text-align: center; color: #3f7320;" id="h_945383643161577202641871"><span style="border-bottom: 4px solid #c82828;">My first BLOG <br /></span></h3>
<p><img class="imageLeft" src="/ed.png" alt="Ed" /><strong></strong></p>
<body>
	<table class="demoTable" style="height: 46px; width: 885px;">
		<thead>
			<tr style="height: 23px;">
				<td style="width: 174.333px;"><span style="color: #c82828;"></span></td>
				<td style="height: 23px; width: 703.667px;"><span style="color: #c82828;">POSTS</span></td>
			</tr>
		</thead>
<% for (var i=0; i< posts.length; i++) {%>
		<tbody>
			<tr style="height: 23px;">
				<td style="width: 174.333px;"><a href="/post/<%= ( i + 1 )%>" title="POST <%= ( i + 1 )%>"<%=posts[i].title%></a></td>
				<td style="height: 23px; width: 703.667px;"><%=posts[i].content%></td>
			</tr>
		</tbody>
	</table>
<% } %>
	</body>
