﻿<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="row">
    <div style="padding-top:5%;" class="container">
        <a><span class="text-red"><%=LoginText%></span></a>
        <ul>You are was logged as: <%=guests[activeGuestID].name%></ul>
        <form method="post" formaction="\regist">
            <div class="row">
                <div class="input-field col s6">
                    <input formmethod="post" placeholder="Login" id="name" name="name" type="text" class="validate">
                    <label for="name">Nickname</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input formmethod="post" name="password" id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <button class="waves-effect waves-light btn-small z-depth-3" type="submit">Ok</button>
                </div>
                <div class="col s1">
                    <a class="waves-effect waves-light btn-small z-depth-3" href="\">Cancel</a>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <a class="black-text">If you first time on my site, please </a>
                    <a class="deep-orange-text accent-3-text" href="/addnewuser">register</a>
                    <a class="black-text">.</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/javascripts/materialize.js"></script>
