﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/stylesheets/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title><%=post.title%></title>
</head>
<body>
	<container>
		<div class="container" style="padding-top:5%">
			<div class="row12">
				<div class="col s12 m10">
					<div class="card blue-grey darken-1 z-depth-3">
						<form action="/post" method="post">
							<div class="card-content white-text">
								<label for="title">Title:</label>
								<input class="white-text materialize-textarea card-title" id="title" name="title" type="text" value="<%=post.title%>" <%=key%> />
								<br />
								<label for="content">Message:</label>
								<textarea class="white-text materialize-textarea" id="content" name="content" type="text" <%=key%>><%=post.content%></textarea>
								<br />
								<p class="yellow-text">Post from: <%=guest.name%></p>
							</div>
							<div class="card-action">
								<button class="waves-effect waves-light btn-small z-depth-3 <%=key%>" type="submit" name="save" value=ID>Save</button>
								<a href="/" class="waves-effect waves-light btn-small z-depth-3">Back to Homepage</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</container>
	<script type="text/javascript" src="/javascripts/materialize.js"></script>
</body>
</html>
