﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>New message</title>
	<link rel="stylesheet" href="/stylesheets/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<container>
		<div class="container" style="padding-top:5%">
			<div class="row">
				<div class="col s12 m6">
					<div class="card cyan darken-4 z-depth-3">
						<div class="card-content white-text">
							<span class="card-title">Add new post</span>
							<hr>
							<form method="post" action="/write">
								<div class="input-field col s12">
									<label for="title">Title</label><br>
									<input class="validate white-text" type="text" name="title" id="title"><br>
								</div>
								<div class="input-field col s12">
									<textarea class="materialize-textarea white-text" name="content" id="content"></textarea>
									<label for="content">Content</label><br>
								</div>
									<br />
									<br />
									<button class="waves-effect waves-light btn-small z-depth-3" type="submit">Add post</button>
							</form>
						</div>
						<div class="card-action">
							<a href="/">Back to Homepage</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</container>
	<script type="text/javascript" src="/javascripts/materialize.js"></script>
</body>
</html>

